<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}Flask App{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>

    <nav>
        <a href="{{ url_for('tickets.home') }}">Home</a>
        |
        <a href="{{ url_for('tickets.show_create_ticket_form') }}">New Ticket</a>
        |
        {% if session.get("user_id") %}
            <span>Welcome, {{ session.get("user_name") }}</span>
            |
            <a href="{{ url_for('auth.logout_route') }}">Logout</a>
        {% else %}
            <a href="{{ url_for('auth.login_form') }}">Login</a>
            |
            <a href="{{ url_for('auth.register_form') }}">Register</a>
        {% endif %}
    </nav>

    <hr>

    {% with messages = get_flashed_messages() %}
    {% if messages %}
        {% for message in messages %}
            <p style="color: green;">{{ message }}</p>
        {% endfor %}
    {% endif %}
    {% endwith %}

    {% block content %}
    {% endblock %}

    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
</body>
</html>