{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block content %}

<h1>Hello, {{ name }}</h1>
<p>This data came from Flask.</p>

<h2>Search</h2>

<form action="{{ url_for('tickets.home') }}" method="get">
    {% if selected_status %}
        <input type="hidden" name="status" value="{{ selected_status }}">
    {% endif %}

    <input
        type="text"
        name="q"
        placeholder="Search tickets..."
        value="{{ search_keyword or '' }}"
    >

    <button type="submit">Search</button>
</form>
<h2>Filter</h2>

<a href="{{ url_for('tickets.home') }}">All</a>
|
<a href="{{ url_for('tickets.home', status='OPEN') }}">Open</a>
|
<a href="{{ url_for('tickets.home', status='IN_PROGRESS') }}">In Progress</a>
|
<a href="{{ url_for('tickets.home', status='RESOLVED') }}">Resolved</a>

<h2>Tickets</h2>

<ul>
    {% for ticket in tickets %}
        <li>
            #{{ ticket.id }} - {{ ticket.title }} - {{ ticket.status.value }}

            <a href="{{ url_for('tickets.ticket_details', ticket_id=ticket.id) }}">View Details</a>
        </li>
    {% endfor %}
</ul>

{% endblock %}