<!DOCTYPE html>
<html>
<head>
    <title>Flask App</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <h1>Hello {{name}}</h1>
    <p>This page is served by Flask.</p>

    <h2>Create Ticket</h2>

    <a href="/tickets/new">Create New Ticket</a>

    <h2>tickets :</h2>

    <ul>
        {% for ticket in tickets %}
            <li>
                #{{ ticket.id }} - {{ ticket.title }} - {{ ticket.description }}
                <a href="/tickets/{{ticket.id}}">View Details</a>
            </li>
        {% endfor %}
    </ul>

    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
</body>
</html>